# Ignore virtual environment
venv/

# Ignore model files
*.h5
*.keras

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment and log files
.env
*.log

# Ignore Jupyter Notebook checkpoints if applicable
.ipynb_checkpoints/

# Ignore other unwanted files (optional)
.DS_Store
